<header class="menubar">
    <div (click)="fileInput.click()"><input #fileInput type="file" hidden (change)="handleUpload($event)" accept=".xyz">Импорт</div>
    <div (click)="handleExport()">Экспорт</div>
  </header>
  <div class="menu">
    <div class="img-wrapper">
      <img src="{{(fileService.mainImagePath | async)}}">
    </div>
    <div class="tool-wrapper">
        <div class="tools">
            <div class="tool-item">
                <div class="tool-item-label">
                    Отображаемые объекты
                </div>
                <div class="tool-item-checkboxs-wrapper">
                    <div *ngFor="let item of fileService.clusters; let i = index" class="tool-item-checkbox-wrapper">
                        <input type="checkbox" id="{{item.index}}" name="{{item.index}}" class="tool-item-checkbox" checked>
                        <label for="{{item.index}}" (click)="toggleClusterNum(i)">Object{{item.index}}</label>
                        <span><img src="{{'http://127.0.0.1:8000' + item.path}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <button class="accept-button" (click)="handleShow($event)">Показать</button>
    </div>
  </div>