<header class="menubar">
    <div (click)="fileInput.click()"><input #fileInput type="file" hidden (change)="handleUpload($event)" accept=".xyz">Импорт</div>
  </header>
  <div class="menu">
    <div class="img-wrapper">
      <img src="../../assets/test_locat.png">
    </div>
    <div class="tool-wrapper">
      <div class="tools">
        <div class="tool-item">
          <div class="tool-item-label">
              Глубина кластеризации
          </div>
          <div class="tool-item-input">
              <button class="tool-item-input-minus" (click)="decreaseClusterNum()">-</button>
              {{ (clusterNum | async) }}
              <button class="tool-item-input-plus" (click)="increaseClusterNum()">+</button>
          </div>
        </div>
      </div>
      <button class="accept-button" (click)="handleUse($event)">Применить</button>
    </div>
  </div>