<header class="menubar">
    <div>Импорт</div>
    <div>График метода Локтя</div>
  </header>
  <div class="menu">
    <div class="img-wrapper">
      <img src="../../assets/test_img.jpg">
    </div>
    <div class="tool-wrapper">
      <div class="tools">
        <div class="tool-item">
          <div class="tool-item-label">
              Глубина кластеризации
          </div>
          <div class="tool-item-input">
              <button class="tool-item-input-minus" (click)="decreaseClusterNum()">-</button>
              {{ (clusterNum | async) }}
              <button class="tool-item-input-plus" (click)="increaseClusterNum()">+</button>
          </div>
        </div>
      </div>
      <button class="accept-button">Применить</button>
    </div>
  </div>