.tool-cluster {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15%;
    margin: 2%;
    &-label {
        color: #319CD8;
        font-size: 140%;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        height: 50%;
    }
    &-input {
        display: flex;
        height: 50%;
        width: 40%;
        font-size: 20px;
        border-radius: 15px;
        border: 4px solid #CED4DA;
        background: #F8F9FA;
        justify-content: space-around;
        align-items: center;
        &-minus, &-plus {
            border: none;
            background: #F8F9FA;
            border-radius: 15px;
            font-size: 40px;
            color: #CED4DA;
        }
    }
}